<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card card-body table-responsive">
        <form action="/filter">
          <div class="position-relative">
            <a class="btn btn-light btn-sm position-absolute btn-create" href="/record/new">新增</a>
            {{> filter}}
          </div>
          <button class="btn-secondary btn">過濾顯示</button>
          <a href="/" class="btn btn-secondary">清空篩選條件</a>
        </form>
        <ul class="list-group my-3">
          {{#each records}}

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <a href="/record/{{this._id}}/edit" class="text-decoration-none">
                <i class="fas {{this.category}}"></i>
                <h6 class="my-0">{{this.name}}</h6>
                <small class="text-muted">{{this.date}}</small>
              </a>
              <span>{{this.merchant}}</span>
              <ul class="list-unstyled text-right ml-3">
                <li class="mb-3">
                  <span class="text-muted">${{this.amount}}</span>
                </li>
                <li>
                  <a class="text-decoration-none" href="/record/{{this._id}}/edit">
                    <i class="fas fa-edit mb-05"></i>
                  </a>
                  <form class="list-inline-item ml-5" action="/record/{{this._id}}?_method=DELETE" method="POST">
                    <label for="{{this._id}}">
                      <a class="text-decoration-none">
                        <i class="fas fa-trash-alt mr-02 delete-icon"></i>
                      </a>
                    </label>
                    <input type="submit" class="delete" id="{{this._id}}" hidden>
                  </form>
                </li>
              </ul>
            </li>

          {{/each}}
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Total</h6>
            </div>
            <strong class="text-success">${{totalAmount}}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{#if filter}}
  {{#if filter.category}}
    <script>document.getElementById("{{filter.category}}").checked = true;</script>
    <script>document.getElementById('category-content').style.display = "block"</script>
    <script>document.getElementById('category-content').previousElementSibling.classList.toggle("active")</script>
    {{#each filter.category }}
      <script>document.getElementById("{{this}}").checked = true;</script>
    {{/each}}
  {{/if}}
  {{#if filter.month}}
    <script>document.getElementById("month_{{filter.month}}").checked = true;</script>
    <script>document.getElementById('month-content').style.display = "block"</script>
    <script>document.getElementById('month-content').previousElementSibling.classList.toggle("active")</script>
    {{#each filter.month }}
      <script>  document.getElementById("month_{{this}}").checked = true;</script>
    {{/each}}
  {{/if}}
{{/if}}